.card {
  display: block;

  .header {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      display: flex;

      div {
        padding-top: 8px;
        margin-left: 10px;
      }
    }
  }

  .wrapper {
    max-width: 330px;
    padding: 20px;

    .inputImg {
      margin: 20px 0;
      padding-bottom: 20pt;
    }

    .input {
      margin: 20px 0;
    }

    .button {
      float: right;
    }
  }
}