.container {
  display: flex;
  background-image: url("/static/image/BG.jpg");
  background-position: 0 0;
  background-size: cover;

  .bg {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 25vw;
    height: 100vh;
    position: absolute;
    right: 0;
    align-items: center;

    .title {
      padding-top: 2vh;
      h1 {
        color: #076645;
        font-weight: bold;
        font-size: 2.2em;
        margin-bottom: 0vh;
      }

      a {
        font-weight: 400;
        font-size: 1em;
        color: slategrey;
      }
    }
    
    .register {
      padding-top: 1vh;
      min-width: 19vw;

      a {
        color: #076645;
      }
      
    }

    .cs {
      position: absolute;
      bottom: 0;
      padding-bottom: 1.5vh;
      padding-left: 3vw;
      left: 0;

      .customer {
        color:#076645;
        text-align: center;
        font-size: 0.8em;
        width: 10vw;
      }
      
      .support {
        padding-bottom: 8px;
  
        
        .title {
          font-size: 1em;
          color: #076645;
          padding-left: 5px;
        }
  
        .imgSupport {
          width: 16px;
        }
      }
  
      .text {
        color:#076645;
        font-size: 0.8em;
        font-weight: 300;
        padding-bottom: 2px;
      }
    }
    
    .link {
      color: #076645;
      padding-top: 1vh;
    }
    
  }

}