.wraper {
  padding-top: 5vh;
  width: 10vw;
  min-width: 150px;
  max-width: 10vw;
  background-color: #373B3A!important;
  position: fixed;
  border: none;
  z-index: 1!important;
  
  .image {
    width: 18px;
  }

  .span {
    padding-left: 5px;
    color: white;
  }
}
