.container {
  display: block;
  position: fixed;
  max-height: 5vh;
  width: 100%;
  top: 0;
  background-color: #373B3A;
  z-index: 2;

  .left {
    float: left;
    text-align: center;
    line-height: 5vh;
    color: white;
    font-size: 16pt;
    font-weight: 700;
    max-width: 150px;
    height: 5vh;
    width: 20vw;
    background-color: #076645;
  }

  .right {
    float: right;
    text-align: center;
    line-height: 5vh;
    color: white;
    font-size: 8pt;
    font-weight: 300;
    height: 5vh;
    margin-right: 2vw;
    
    .notif {
      width: 10pt;    
    }
  }
}