.card {
  display: block;

  .header {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      display: flex;

      div {
        padding-top: 8px;
        margin-left: 10px;
      }
    }
  }

  .middle {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0;

    .cancel {
      margin-top: 20px;
    }
  }
}

.delete {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .icon {
    cursor: pointer;
    transition: .3s;
    color: #e74c3c;

    &:active {
      opacity: .5;
      transition: .1s;
    }
  }
}
